# Python virtual environments
backend/.venv/
# Node modules
frontend/node_modules/
e2e/node_modules/
# Environment files
.env
infra/.env
infra/.env_bk

# Ignore Python bytecode cache in backend tests
backend/tests/__pycache__/
